[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
yapf = "*"

[packages]
slackclient = "*"
pynamodb = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 --statistics src/"
lintfix = "yapf -vv -ri src/"
check = "mypy --ignore-missing-imports --namespace-packages src/"
post_new_channels = "python -m src.post_new_channels"
post_new_emojies = "python -m src.post_new_emojies"
post_todays_adage = "python -m src.post_todays_adage"
